<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>
        <title>{{title}}</title>
    </head>
    <body>
        <a href="{% get_url 'cul_de_sac', [1] %}">Click me!</a>

        <form action="." method="POST">
            <input type="text" name="TestInput"/><br/>
            <button type="submit">Click me</button>
        </form>

        <form action="." method="POST" enctype="multipart/form-data">
            <input type="file" name="TestInput"/><br/>
            <input type="file" name="TestInput2"/><br/>
            <button type="submit">Click me</button>
        </form>

        {% for x in range(0, 10) %}
        <div>{{x}}</div>
        {% endfor %}
        <button id="StartProcessBtn" type="button">Start a long, exclusive process</button>
        <label><input type="checkbox" id="ShouldFailCheck"/> Throw Exception?</label>
        <br/>
        <button id="CancelProcessBtn" type="button">Cancel process</button>
        <h3>Process Status</h3>
        <p id="ProcessStatus">
        </p>

        <script type="text/javascript" src="{% swat_static 'jquery-1.6.4.min.js' %}"></script>
        <script type="text/javascript" src="{% swat_static 'invglobals.js' %}"></script>
        <script type="text/javascript" src="{% static 'index.js' %}"></script>
        <script type="text/javascript">
            var startUrl = '{% get_url 'long_process' %}';
        </script>
    </body>
</html>

